<app-coursesidebar></app-coursesidebar>
<section class="container">
  <h6 class="text-primary title">Attachment</h6>
  <div class="row container-fluid">
    <div class="card col-lg-4 col-sm12">
      <div class="card-img-top">
        <img src="../../assets/images/vidoes.jpg" alt="not found" />
      </div>
      <div class="card-body">Course Vidoes</div>
    </div>
    <div class="card col-lg-4 col-sm12">
      <div class="card-img-top">
        <img src="../../assets/images/PDFs.jpg" alt="not found" />
      </div>
      <div class="card-body">PDFs</div>
    </div>
    <div class="card col-lg-4 col-sm12">
      <div class="card-img-top">
        <img src="../../assets/images/Degrees.jpg" alt="not found" />
      </div>
      <div class="card-body">Course Degrees</div>
    </div>
  </div>
</section>
