<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md- col-sm-2"></div>
    <div class="col-lg-10 col-md-6 col-sm-7">
      <section>
        <div>
          <h2>Make Post :</h2>
          <br />
          <input type="text" class="subTitle" placeholder="Title..." />

          <br />
          <textarea
            id="story"
            name="story"
            rows="5"
            cols="50"
            placeholder="Description...."
          ></textarea>
          <br />
          <span>Upload Media :</span>
          <input type="file" />
          <br />
          <button class="btn btn-primary">Post</button>
        </div>
      </section>
    </div>
  </div>
</div>
