<app-coursesidebar></app-coursesidebar>
<div class="container">
  <div class="header">
    <h1>Attachment</h1>
    <span
      ><a [routerLink]="'/profile'" class="text-decoration-none"
        >209120192564@fci.zu.edu.eg</a
      ></span
    >
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="pdf fa-fa-pdf">
          <div class="image">
            <img src="../../../../../assets/images/PDFs.jpg" alt="notfound" />
          </div>
          <div class="footer">Lecture 1.pdf</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="videos fa-fa-pdf">
          <div class="image">
            <img src="../../../../../assets/images/vidoes.jpg" alt="notfound" />
          </div>
          <div class="footer">Lecture 1.mp4</div>
        </div>
      </div>
    </div>
  </div>
</div>
