<body>
  <section class="container m-auto">
    <div class="header">
      <h1 class="text-center text-primary">Reset password</h1>
    </div>
    <div class="headertitle">
      <h6>enter your email to reset password</h6>
    </div>
    <div class="container-fluid">
      <mat-form-field appearance="outline">
        <mat-label>Email. &username. &phone</mat-label>
        <input type="email" matInput />
      </mat-form-field>
      <div class="confirmation">
        <div class="sendemail text-center">
          <p class="ml-1 text-small">Forgot Email ?</p>
          <button class="btn btn-primary mb-2">send reset link</button>
        </div>
        <span class="text-primary m-auto text-center" [routerLink]="'/login'"
          >Back to sign in</span
        >
      </div>
    </div>
  </section>
</body>
