<app-sidebar></app-sidebar>
<section class="container attachment">
  <div class="header d-flex">
    <h1>Attachment</h1>
    <span
      ><a href="mailto:" [routerLink]="'/profile'" class="text-decoration-none"
        >20912019200475@fci.zu.edu.eg</a
      ></span
    >
  </div>
  <div class="container-fluid">
    <div class="ataachmentlecsec row m-2 rounded">
      <div class="lecs col-lg-6 col-md-6 col-sm-12 lects bg-primary">
        Lectures
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 secs border-primary">
        Sections
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-title">Lecture 1</div>
          <div class="card-body">
            <p class="text-small">topic of the lecture</p>
            <div class="details">
              <p>1pdf</p>
              <p>1video</p>
            </div>
          </div>
          <div class="card-footer">uploaded by</div>
        </div>
      </div>
    </div>
  </div>
</section>
