<div class="row">
  <app-adminsidebar class="col-lg-3"></app-adminsidebar>
  <div class="col">
    <div class="container">
      <div class="nav">
        <img src="../../../../assets/images/FCI.jpg" alt="" />
        <a href="#">admin@gmail.com</a>
      </div>
      <h1>Add Staff</h1>
      <div class="formdetails">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <i class="fa fa-user"></i>
          <input matInput id="staffname" type="text" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <i class="fa fa-email"></i>
          <input matInput id="staffemail" type="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <i class="fa fa-key"></i>
          <input matInput id="password" type="password" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="addmember">
      <img src="../../../../assets/images/addmember.jpg" alt="">
    </div>
  </div>
</div>
