<body>
  <section class="container m-auto">
    <div class="header">
      <h1 class="text-center text-primary" >Reset password</h1>
    </div>
    <div class="container-fluid">
      <mat-form-field>
        <mat-label>Email. &username. &phone</mat-label>
        <input type="email" matInput >
      </mat-form-field>
      <p> <a href="#" class="text-primary text-decoration-none text-center">Forgot Email ?</a> </p>
      <div class="confirmation">
        <button class="btn btn-primary">send reset link</button>
        <span class="text-primary m-auto text-center" [routerLink]="'/login'">Back to sign in</span>
      </div>
    </div>
  </section>
</body>
