<div class="container row">
  <app-adminsidebar class="col-lg-3"></app-adminsidebar>
  <div class="col">
    <div class="container">
      <div class="nav">
        <img src="../../../../assets/images/FCI.jpg" alt="" />
        <a href="#">admin@gmail.com</a>
      </div>
      <h1>Edit Subject</h1>
      <div class="uploadpic">
        <h6>Upload Picture [optionan]</h6>
        <i class="fa fa-upload"></i>
        <input type="file" />
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Subject name</mat-label>
        <input matInput type="text" id="subname" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select Doctor Name</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let doctor of doctors; let i = index"
            [id]="doctor.id"
          >
            {{ doctor.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Midterm Degree</mat-label>
        <input type="number" matInput id="number" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Oral Degree</mat-label>
        <input type="number" matInput id="number" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Practical Degree</mat-label>
        <input type="number" matInput id="number" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Slect the level academy</mat-label>
        <mat-select>
          <mat-option *ngFor="let level of academyLevels; let i = index">
            {{ level.level }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="row confirmation">
        <button class="btn btn-danger col-lg-5 col-sm-12">Cancel</button>
        <button class="btn btn-dark col-lg-5 col-sm-12">Add</button>
      </div>
    </div>
  </div>
</div>
