<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md- col-sm-2"></div>
      <div class="col-lg-10 col-md-5 col-sm-7">
        <section>
          <div>
            <h2>Create Quiz</h2>
            <hr />
            <div class="select">
              <input
                class="input1"
                type="text"
                placeholder="Select Subject name "
              />
              <span> <i class="fa-solid fa-caret-down"></i></span>
            </div>

            <h4>Quiz Information</h4>
            <div class="quizName">
              <Span>Quiz name</Span>
              <input type="text" />
            </div>

            <div class="quizTime">
              <p>Quiz Time</p>
              <hr />
              <br />
              <Span>From</Span>
              <input type="time" />
              <Span>To</Span>
              <input type="time" />
            </div>

            <div class="quizdegree">
              <Span>Quiz Degree</Span>
              <input type="number" />
            </div>
          </div>
          <button>Next</button>
        </section>
      </div>
    </div>
    <!-- row= 12 cols-->
  </div>
  <!--container-->
</section>
<!--section-->
