<app-coursesidebar></app-coursesidebar>

<div class="container">
  <h6 class="title text-primary">posts</h6>
  <div class="container-fluid">
    <div class="comment">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum
        voluptate amet natus autem maxime laboriosam, ad odit in doloribus iusto
        dolore consequatur. Provident iste recusandae quas sapiente repellat ab
        numquam?
      </p>
      <div
        id="likes"
        style="
          width: fit-content;
          display: grid;
          grid-template-columns: repeat(3, 10rem);
          margin: auto;
          padding: 10px 0px;
        "
      >
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-thumbs-down"></i>
        <i class="fa fa-comment"></i>
      </div>
    </div>
    <div class="addcomment">
      <mat-form-field appearance="outline">
        <div class="d-flex">
          <input type="text" matInput placeholder="Add Comment" />
          <i class="fa fa-send"></i>
        </div>
      </mat-form-field>
    </div>
  </div>
</div>
