<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="logo">
      <span class="imgLogo d-inline">
        <img
          src="../../assets/images/logo.png"
          class="col-sm"
          alt="Logo Notfound"
        />
      </span>
      <p class="d-inline headingparag col-sm">Students > Subjects</p>
    </div>
    <button
      class="navbar-toggler w-45 btn-sm btn btn-light mr-5"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse icons w-auto"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <i class="fa fa-home"></i>
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-user"></i>
          <a class="nav-link" href="#">User</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-calendar"></i>
          <a class="nav-link" href="#">Scedule Subjects </a>
        </li>
      </ul>
      <!-- <p class="logout" > <a href="#"  >Logout</a> </p> -->
    </div>
  </div>
  <div class="userAccount">
    <img
      src="../../assets/images/student-profile.png"
      class="d-inline"
      alt="profileimg NotFound"
    />
    <a href="#" class="nav-link d-inline">studentName</a>
  </div>
</nav>

<section class="container mt-5">
  <p id="SubjectSelection">Select Subject You Want To Join</p>
  <p class="text-danger text-center fw-bold">
    Subject hours must be less than or equal 18 and greater than or equal to 10
    hours
  </p>
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/android.jpg"
          class="card-img-top"
          alt="notfound"
        />
        <div class="card-body">
          <p class="card-text">android</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/AI.jpg"
          class="card-img-top"
          alt="notFound"
        />
        <div class="card-body">
          <p class="card-text">Artificial Intelligence</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/iot.jpg"
          class="card-img-top"
          alt="notfound"
        />
        <div class="card-body">
          <p class="card-text">IOT</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/DIP.jpg"
          class="card-img-top"
          alt="notfound"
        />
        <div class="card-body">
          <p class="card-text">Digital Image Processing</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/animation.jpg"
          class="card-img-top"
          alt="notfound"
        />
        <div class="card-body">
          <p class="card-text">Animation</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/robotics.jpg"
          class="card-img-top"
          alt="notfound"
        />
        <div class="card-body">
          <p class="card-text">Robotics</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/android.jpg"
          class="card-img-top"
          alt="notfound"
        />
        <div class="card-body">
          <p class="card-text">android</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/AI.jpg"
          class="card-img-top"
          alt="notFound"
        />
        <div class="card-body">
          <p class="card-text">Artificial Intelligence</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="width: 18rem">
        <h6 class="card-title bg-dark">3 Hours</h6>
        <img
          src="../../assets/images/iot.jpg"
          class="card-img-top"
          alt="notfound"
        />
        <div class="card-body">
          <p class="card-text">IOT</p>
        </div>
      </div>
    </div>
    <button class="btn btn-info mt-3">Submit</button>
  </div>
</section>
