<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md- col-sm-2"></div>
    <div class="col-lg-10 col-md-6 col-sm-6">
      <section class="container-fluid">
        <h2>QR Code Scanner <i class="fa-sharp fa fa-qrcode"></i></h2>
        <hr />

        <h5>Select Which QR Code You Want :</h5>
        <div class="qr">
          <img src="images/OIP.jpg" alt="" />
          <div>
            <p>QR Code 1</p>
            <p>09:00 Am</p>
          </div>
          <div class="icon">
            <i class="fa fa-pen-to-square"></i>
            <i class="fa fa-trash"></i>
          </div>
        </div>

        <div class="qr">
          <img src="images/OIP.jpg" alt="" />
          <div>
            <p>QR Code 2</p>
            <p>12:00 Am</p>
          </div>
          <div class="icon">
            <i class="fa fa-pen-to-square"></i>
            <i class="fa fa-trash"></i>
          </div>
        </div>
        <div class="addqr">
          <button class="btn btn-primary">
            Add QR Code <i class="fa fa-plus"></i>
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
