<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <section>
        <div>
          <h2>Create Meeting <i class="fa-solid fa-user-group"></i></h2>
          <hr />
          <br />
          <div class="formmeeting d-flex">
            <mat-form-field appearance="fill">
              <mat-label>Google Meet URL</mat-label>
              <input type="url" matInput />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>GooleMeet Title</mat-label>
              <input type="text" name="title" matInput id="title" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>GooleMeet Time</mat-label>
              <input type="time" name="time" matInput id="time" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>GooleMeet Date</mat-label>
              <input type="date" name="date" matInput id="date" />
            </mat-form-field>
          </div>
          <div>
            <button class="btn btn-primary">Create Meeting</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
