<div
  class="offcanvas offcanvas-start show offcanvaslargescreen col-lg-3"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="title d-flex">
    <img src="../../../assets/images/logo.png" alt="" />
    <h6>Admin</h6>
  </div>
  <div class="listitems">
    <ul class="list-style-type-none">
      <li>
        <i class="fa fa-bell"></i>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <i class="fa fa-book"></i>
        <a href="#">Add Subjects</a>
      </li>
      <li>
        <i class="fa fa-send"></i>
        <a href="#">Send Messages</a>
      </li>
      <li>
        <i class="fa fa-user"></i>
        <a href="#">Staff Members</a>
      </li>
      <li>
        <i class="fa fa-user"></i>
        <a href="#">Profile</a>
      </li>
      <li>
        <i class="fa fa-search"></i>
        <a href="#">Search Student</a>
      </li>
    </ul>
    <div class="bx-log-out">
      <i class="fa fa-logout"></i>
      <a href="#">Logout</a>
    </div>
  </div>
</div>
