@import '../../../coursesidebar/coursesidebar.component.scss';

.container{

  transform: translateX(17rem);
    width: 80%;
    margin-top: 3rem;
    .title{
      color: #0d6efd;
      margin-bottom: 3rem;
      i{
        margin-left: 1rem;
      }
    }
}


