<app-coursesidebar></app-coursesidebar>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="form row">
        <mat-form-field appearance="outline" class="col-lg-6 col-sm-12">
          <mat-label>Select Academic year</mat-label>
          <select matNativeControl>
            <option>first year</option>
            <option>second year</option>
            <option>third year</option>
            <option>fourth year</option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-6 col-sm-12">
          <mat-label>Select Semester</mat-label>
          <select matNativeControl>
            <option>first tirm</option>
            <option>second term</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="courses">
      <div class="row">
        <div
          class="card col-lg-3 col-sm-12 col-md-6"
          *ngFor="let course of courses"
        >
          <div class="card-title">{{ course.title }}</div>
          <div class="card-body">
            <img src="{{ course.image }}" alt="notfound" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
