@import '../../topnavbar/navbar.component.scss';
@import '../../../../sidebar/sidebar.component.scss';
body{
  background-color: #4e54c8;
  height: 100vh;
  .container-fluid{
    background-color: #fff;
    box-shadow: 5px 5px 5px #ccc;
    position: absolute;
    .innerbody { width: 65%; }
    .editinfo{
      width: 80%;
      transform: translateX(6.5rem);
      i{
        font-size: 50px;
      }

    }
    form{
      width: 80%;
      margin: auto;
      mat-form-field{
        margin-bottom:15px ;
        mat-label{
          font-size: small;
          padding: 10px 0px;
        }
        input{
          padding: 10px 0px;
        }
      }
      .submitting{
        width: 40%;
        button{
          margin: 10px;
        }
      }

    }
  }
}

@media (max-width:576px) {
  .container-fluid{
    left: 5rem;
  }
}
