<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-2"></div>
    <div class="col-lg-10 col-md-6 col-sm-10">
      <section>
        <div>
          <h2>Examed Students <i class="fa-solid fa-file-lines"></i></h2>
          <hr />
          <button class="btn2">Download Degree</button>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Student Information</th>
              <th>Assignment Degree</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="#">1</td>
              <td data-label="Student Information">289752015447</td>
              <td data-label="Assignment Degree">8 Points</td>
            </tr>

            <tr>
              <td data-label="#">2</td>
              <td data-label="Student Information">235452015447</td>
              <td data-label="Assignment Degree">15 Points</td>
            </tr>

            <tr>
              <td data-label="#">3</td>
              <td data-label="Student Information">200752015447</td>
              <td data-label="Assignment Degree">10 Points</td>
            </tr>

            <tr>
              <td data-label="#">4</td>
              <td data-label="Student Information">211752015447</td>
              <td data-label="Assignment Degree">15 Points</td>
            </tr>

            <tr>
              <td data-label="#">5</td>
              <td data-label="Student Information">239752015447</td>
              <td data-label="Assignment Degree">30 Points</td>
            </tr>

            <tr>
              <td data-label="#">6</td>
              <td data-label="Student Information">209752015447</td>
              <td data-label="Assignment Degree">25 Points</td>
            </tr>
            <tr>
              <td data-label="#">7</td>
              <td data-label="Student Information">309752015447</td>
              <td data-label="Assignment Degree">15 Points</td>
            </tr>

            <tr>
              <td data-label="#">8</td>
              <td data-label="Student Information">289752015447</td>
              <td data-label="Assignment Degree">15 Points</td>
            </tr>
            <tr>
              <td data-label="#">9</td>
              <td data-label="Student Information">209752015447</td>
              <td data-label="Assignment Degree">25 Points</td>
            </tr>

            <tr>
              <td data-label="#">10</td>
              <td data-label="Student Information">209752015997</td>
              <td data-label="Assignment Degree">30 Points</td>
            </tr>
            <tr>
              <td data-label="#">11</td>
              <td data-label="Student Information">208752015997</td>
              <td data-label="Assignment Degree">30 Points</td>
            </tr>
            <tr>
              <td data-label="#">12</td>
              <td data-label="Student Information">309752015997</td>
              <td data-label="Assignment Degree">10 Points</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
