<app-sidebar></app-sidebar>
<section class="container-fluid">
  <div class="timetable row">
    <div class="col-lg-3 col-sm-4" *ngFor="let day of daystable">
      <p>{{ day }}</p>
    </div>
    <!-- <div class="col-lg-3 col-sm-4"><p>Sunday</p></div>
    <div class="col-lg-3 col-sm-4"><p>Monday</p></div>
    <div class="col-lg-3 col-sm-4"><p>Tuesday</p></div>
    <div class="col-lg-3 col-sm-4"><p>Wednesday</p></div>
    <div class="col-lg-3 col-sm-4"><p>Thursday</p></div> -->
  </div>

  <div class="tablecontent">
    <div class="addtimetable">
      <i class="fa fa-plus"></i>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div
          class="timetablesubjects mt-5"
          *ngFor="let table of Timetable; let i = index"
        >
          <div id="{{ table.id }}" class="table">
            <div class="p-2 d-flex justify-content-between">
              <h6>{{ table.Dep }}</h6>
              <p>{{ table.coursename }}</p>
              <p class="col-lg-4 col-sm-12">{{ table.time }}</p>
            </div>
            <div id="SupportedContent">
              <span class="d-flex">
                <i class="fa fa-user">
                  <p>{{ table.docname }}</p></i
                >
                <i class="fa fas-location-pin">
                  <p>{{ table.location }}</p>
                </i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
